.category {
    margin-top: 90px;
}
  
.category .title {
    margin-bottom: 10px;
    align-self: center;
}

.box-registration {
    width: 100%;
    max-width: 700px;
    min-height: 500px;
    background-color: var(--bg-table);
    border: 2px solid var(--main-color-two);
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.category input {
    text-align: start;
    width: 100%;
    max-width: 100%;
    padding: 3px 10px;
    margin-top: 5px;
}
.category select {
    width: 100%;
    max-width: 100%;
    padding: 3px 10px;
}

.category form {
    display: flex;
    flex-direction: column;
}

.category form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.category button {
    align-self: center;
    margin-top: 10px;
}