
.order-details {
  margin-top: 90px;
}

.order-details .title {
  max-width: 600px;
  width: 100%;
  display: flex;
  margin: 10px 0;
  margin-bottom: 20px;
}

.order-details .title h1 {
  color: var(--main-color-two);
  font-weight: 400;
}
.order-details .title img {
  width: 25px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.order-details .title img:hover {
    animation: is-opacity 1.5s infinite;
}

@keyframes is-opacity {
  to {
    opacity: 0.4;
  }
}

.order-details .box-order {
  max-width: 600px;
  width: 100%;
  min-height: 500px;
  border: 2px solid var(--main-color-two);
  background-color: var(--bg-table);
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.order-details .box-order h2 {
  font-size: 1.3rem;
  margin: 0 0 10px 0;
}
.order-details .box-order .cabecalho {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 0 0 10px 0;
}

.order-details .box-order .cabecalho h3 {
  font-size: 1.15rem;
  margin: 0 0 10px 0;
  color: #fffd6c;
}
.order-details .box-order .product-cabecalho {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.order-details .box-order .product-container {
  height: 300px;
  overflow-y: auto;
  font-size: 18px;
  border-top: 1px solid var(--main-ft-color);
  margin: 0 0 10px 0;
}

.order-details .box-order .product-container article {
  border-bottom: 1px solid var(--main-ft-color);
}  

.order-details .box-order .product-container ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.order-details .box-order .product-container ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}  

.order-details .box-order .total {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

.order-details .box-order .total h4 {
  color: #fffd6c;
}

.order-details .status-box button {
  background-color: var(--main-ft-color);
  width: 30px;
  height: 30px;
}
.order-details .status-box button:hover {
  background-color: var(--main-color-two);
}
.order-details .status-box button img {
  width: 25px;
  height: 25px;
}

.order-details .box-order .status-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order-details .box-order .status-box .status {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.order-details .box-order .status-box .status span {
  margin: 0 6px;
}
.order-details .box-order .status-box .status .status-order {
  display: flex;
  justify-content: center;
}
.order-details .box-order .status-box .status .status-order img {
  margin: 0 25px;
}
.order-details .box-order .status-box .status-button {
  display: flex;
  flex-direction: row;
  width: 120px;
  align-items: center;
  justify-content: space-around;
}
