:root {
  --main-bg-color: #3C3C3C;
  --main-color-two: #ffde5a;
  --main-ft-color: #A4A4A4;
  --main-bg-input: #F5F5F5;
  --main-color-two-40: rgba(255, 222, 90, 0.4);
  --bg-table: #5B5B5B;
}

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html {
  height: 100vh;
  font-family: 'BIZ UDGothic', 'Roboto', monospace;
  background-color: var(--main-bg-color);
}

.container {
  display: flex;
  max-width: 1200px;
  min-width: 350px;
  width: 90%;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--main-bg-color);
}

.container-loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px);
}

input {
  background-color: var(--main-bg-input);
  border: 1px solid #000000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 45px;
  width: 95%;
  max-width: 400px;
  text-align: center;
  font-family: 'BIZ UDGothic', 'Roboto', monospace;
  font-size: 1.1rem;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 1s;
}
input:hover {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 2px solid var(--main-color-two);
  background-color: var(--main-color-two-40);
}
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 2px solid var(--main-color-two);
  background-color: var(--main-color-two-40);
  text-align: start;
}

button {
  width: 120px;
  height: 45px;
  background-color: var(--main-color-two);
  border-radius: 8px;
  color: #000;
  border: 1px solid #000000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;

  transition: all 0.2s;
  cursor: pointer;
}
button:hover {
  background-color: #000;
  color: var(--main-color-two);
}